<div id="addPhotoPopup" class="simplePopup">
    <div class="popupHead"><h2>Add your photo</h2><span class="close"></span></div>
    <div class="popupBody">
       <div class="row">
           <img src="<%= src %>" id="userPhoto" />
           <div id="previewImage"><img src="<%= src %>" style="position: relative;" /></div>
        </div>
        <div class="row">
            <div class="button-area">
                <a id="cancel" class="btn">Cancel</a>
                <a id="rb-save" class="btn save">Save Photo</a>

            </div>
        </div>
    </div>
</div>
<div id="popupScreen"></div>