<div class="wrap">
        <section class="col left spinner">
            <div class="temp-thumb" id="blue-chip">
                <img src="images/blue-chip.png"/>
            </div>
        </section>
        <section class="col right spinner" id="edit-view">
            <p id="msgs">Click on the fields to edit</p>
            <textarea id="text-edit" cols="30" rows="15" name="label"></textarea>

            <div class="button-area"  id="default-actions">
                <a class="btn save">Save</a>
                <a class="btn cancel">Cancel</a>
            </div>
            <div class="button-area" id="account-actions">
                <a id="saveResume" class="btn ">Save to profile</a>
                <a class="btn ">Download as pdf</a>
            </div>
        </section>
    </div>