!!! 5
html(lang="en")
	head
		title resumeBuild
		link(href='css/style.css', rel='stylesheet', type='text/css', media='screen')
		link(href='js/libs/imageSelect/css/imgareaselect-default.css', rel='stylesheet', type='text/css', media='screen')
		script(type='text/javascript', src='/js/libs/plugins.js')
		script(type='text/javascript', src='/js/libs/tinymce/tinymce.min.js')
		script(type='text/javascript', src='/js/libs/jquery.validate.min.js')
		script(data-main='js/app', type='text/javascript', src='/js/libs/require.js')
	body
		div#header
			div.wrap
				div.logo
					img(src="images/resume_bulid.png", alt="Logo")
			div.menuWrap
				div.wrap
					ul#rb-menu
						li#login
							span Login/Register
						li#help
							span Help
		block content
			div#content.container.home
		div#footer
			div.wrap
				p Copyright 2014 resumeBuild 
				