<div id="resume" class="blue-template">
	<p><a class="blue flRight edit" ><%= website %></a></p>
	<p><a class="blue flRight edit" ><%= email %></a></p>
	<h1 class="bg-blue"><span class="flLight edit"><%= name %></span><span class="flRight edit"><%= mobile %></span></h1>
	<div class="row first">
		<label class="edit">Objective</label><p class="edit">To succeed and venture into the wide horizons of the world, perform to my fullest potential and capability, contributing as much as possible to the growth of the company and also growing as an individual.</p>
	</div>
	<div class="row">
		<label class="edit">BRIEF OVERVIEW</label>
		<ul class="edit">
			<li >Diploma in Electronics Engineering.</li>
			<li >More than three year experience in IT Industry.</li>
			<li class="edit">Currently working as a senior software developer at UST Global.</li>
			<li class="edit">Adoption of new technologies like HTML5, CSS3, MVC etc.</li>
			<li class="edit">Efficient Team Player.</li>
			<li class="edit">Good communication skills in English.</li>
		</ul>
	</div>
</div>